<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:h2:mem:test:sport;INIT=CREATE SCHEMA IF NOT EXISTS max_schema;DATABASE_TO_UPPER=false</property>
    <property name="connection.driver_class">org.h2.Driver</property>
    <property name="connection.username">sa</property>
    <property name="connection.password"/>
    <property name="dialect">org.hibernate.dialect.H2Dialect</property>
    <property name="show_sql">true</property>
    <property name="format_sql">true</property>

    <property name="hbm2ddl.auto">create-drop</property>

    <mapping class="by.kosha.entity.City"/>
    <mapping class="by.kosha.entity.Country"/>
    <mapping class="by.kosha.entity.Program"/>
    <mapping class="by.kosha.entity.Role"/>
    <mapping class="by.kosha.entity.Theme"/>
    <mapping class="by.kosha.entity.User"/>
    <mapping class="by.kosha.entity.Subtopic"/>
    <mapping class="by.kosha.entity.Subscriber"/>
    <mapping class="by.kosha.entity.Param"/>
    <mapping class="by.kosha.entity.Purchase"/>
  </session-factory>
</hibernate-configuration>